{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<script defer src="{% static 'js/blog-detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
{% if object %}
    <h1>Edit {{object.place}}</h1>
  {% else %}
    <h1>Add a Blog</h1>
  {% endif %}
  </div>
<form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
<table>
    {{ form.as_table }}
</table>
    <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}