{% extends 'base.html' %}

{% block content %}

<h1>About the Travel Blog</h1>
<hr />
<p>
  SJ, the creator of this app, has been traveling since she was very young. Her father had a thirst for seeing the world and to experience each place in all its glory. Her mom was always super adventurous and up for a good time. Naturally, growing up they were a family that travelled everywhere. If they could make a trip out of it, they were doing it. Seriously - they even drove down to Florida from New York and for a family of 6 that took a day and a half! As SJ has grown older and embarked on her own traveling excursions, she has found many journals her father has written for all the travels he's been on through out his life. And he's been to many places - places SJ wishes to go and see some day. Her love of traveling comes from both of her parents but recently finding these journals, she was inspired to name this app nomadic Matt, after her dad. 
</p>

{% endblock %}