{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link
    rel="shortcut icon"
    type="image/png"
    href=""
  > {% endcomment %}
  <title>SJ's Travel Blog</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>
<body>
<section>
<header>
  <nav>
  <div class="logo"> <i class="fas fa-route"></i>NOMADIC MATT</div>
    <ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'blogs_index' %}">All Blogs</a></li>
        <li><a href="{% url 'blogs_create' %}">Add a Blog</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
      {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
{% endif%}
    </ul>
  </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  </section>
</body>
</html>
