{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>
{% endblock %}

{% block content %}
<div class="home">
<div class="page-header">
<div class="formBx">
  <h1>Sign Up</h1>
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
    <div class="inputBx">{{ form.as_p }}</div>
  <div class="inputBx">
  <button type="submit" class="btn submit">Submit!</button>
  </div>
  </div>
</form>
</div>

{% endblock %}
