{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/blogs-detail.css' %}"
/>

<script defer src="{% static 'js/blog-detail.js' %}"></script>
{% endblock %}

{% block content %}
<section class="blog-container">

<div class="blog-details">
<div class="place">
<h1>{{blog.place}}</h1>
</div>
<div class="description">
<p>{{blog.description}}</p>
</div>
<p>{{blog.date}}</p>
<div class="blog-actions">
      <a href="{% url 'blogs_update' blog.id %}" class="btn warn">Edit</a>
      <a href="{% url 'blogs_delete' blog.id %}" class="btn danger">Delete</a>
    </div>
    <div class="blog-img">
<h3 class="trip-photos">Trip Photos</h3>
{% if blog.photo_set.all.count %}
          {% for photo in blog.photo_set.all %}
          <div class="image-container">
          <div class="image">
            <img src="{{photo.url}}" alt="">
          <div class="delete">
              <a href="{% url 'delete_photo' blog.id photo.id %}"><span><i class="fas fa-trash-alt"></i></span></a>
          </div>
          </div>
          {% endfor %}
           </div>
    {% else %}
      <p class="subsection-section">Add your trip photos here!</p>
    {% endif %} 
</div>
    <h3>Add {{ blog.photo.url }} images</h3>
    <div class="photo-upload">
    <div class="file-name"><p id="file-name"></p></div>
    <form 
      action="{% url 'add_photo' blog.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
    </div>
</div>
</section>
{% endblock %}
