{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/blogs-index.css' %}"
/>
{% endblock %} 

{% block content %}

<section class="page-header">
  <h1>Blogs List</h1>
  {% comment %} <img src="{% static 'images/add-a-picture.svg' %}" alt="picture" />
  {% endcomment %}
</section>

<section class="card-container">
  {% for blog in blogs %}
  <div class="card">
    <a href="{% url 'blogs_detail' blog.id %}">
      <div class="card-content">
        <div class="card-img-container">
        {% if blog.photo.url %}
              <img 
                src="{{blog.photo.url}}" 
                alt="A photo of {{blog.place}}"
                class="usr-img"
              >
            {% else %}
              {% comment %} <img 
                src="{% static 'images/sk8r-boi-cat.svg' %}" 
                alt="A skater boy cat"
              > {% endcomment %}
            {% endif %}
      </div> 
      <div class="title">
      <h2>{{blog.place}}</h2>
      </div>
      <p>{{blog.date}}</p>  
    </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}

